@media screen and (orientation: portrait) {
  img.todo {
    max-width: 90%;
  }
}

h1 {
  padding-top: 90px;
  font-size: 70px;
  text-align: center;
}

h5 {
  text-align: center;
  padding-bottom: 20px
}

body {
  font-family: 'Permanent Marker';


}

#foo {
  text-align: center;
}

#footer body {
  background-color: rgb(52, 48, 49);
  text-align: center;
}

.footer-copyright {
  color: white;
  text-align: center;
}

.results-area {
  text-align: center;
  list-style-position:inside;
}

.todo {
  display: block;
  margin: 0 auto
}

img {
  height:100%;
}

.bkimg {
  height: 100vh;
  background-image: url(img/hike.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  color: white;
}

/* Style the header of ul */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
