h1 {
  font-size: 50px;
}

body {
  font-family: 'Permanent Marker';
  text-align: center;
  height: 100%;
}

.parallax {
  height: 100%;
  background-image: url(img/hike.jpg);

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


.nav {
  color: white;
}

ol
{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}
