@media screen and (orientation: portrait) {
  img.todo {
    max-width: 90%;
  }
}

h1 {
  padding-top: 90px;
  font-size: 70px;
  text-align: center;
}

h5 {
  text-align: center;
  padding-bottom: 20px
}

body {
  font-family: 'Permanent Marker';
  text-align: center;
  /*min-height: 400px;
margin-bottom: 100px;
clear: both;*/
   /*margin-bottom: 100px;*/


}

#todo button {
  display: none;
}


#foo {
  text-align: center;
}

/*#footer {
  background-color: rgb(52, 48, 49);
  text-align: center;
}*/

.footer-copyright {
  color: white;
  text-align: center;
}

.results-area {
  text-align: center;
  list-style-position:inside;


}

.results {
    overflow-y: scroll;
    height: 200px;
}

.hidden{
    display:none;
}

.unhidden{
    display:block;
}

.paralsec2 {
height: 100vh;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url("img/secondphoto.png");
}

.jumbotron{margin-bottom: 0;}

img {
  height:100%;
}

.bkimg {
  height: 100vh;
  background-image: url(img/hike.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  color: white;
}

/* Style the header of ul */
/*.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}*/
